<div class="modal fade" id="add-to-list-modal" tabindex="-1" aria-labelledby="add-to-list-modal-label" aria-hidden="true" data-controller="add-to-list-modal" data-add-to-list-modal-target="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-to-list-modal-label" data-add-to-list-modal-target="title"><%= t("lists.add_to_lists.title") %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t("navigation.close") %>"></button>
      </div>
      <%= form_with url: add_tool_to_multiple_lists_path, method: :post, data: { turbo: true, add_to_list_modal_target: "form", tool_action: add_tool_to_multiple_lists_path, submission_action: add_submission_to_multiple_lists_path } do |f| %>
        <%= hidden_field_tag :tool_id, nil, data: { add_to_list_modal_target: "toolId" } %>
        <%= hidden_field_tag :submission_id, nil, data: { add_to_list_modal_target: "submissionId", style: "display: none;" } %>
        <div class="modal-body" data-add-to-list-modal-target="body">
          <p><%= t("lists.add_to_lists.select_message") %></p>
          <div class="list-group mt-3" data-add-to-list-modal-target="listGroup">
            <%# Lists will be populated dynamically by Stimulus controller %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t("actions.cancel") %></button>
          <%= f.submit t("lists.add_to_lists.submit_button"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
