<%# Update interaction buttons with new list count %>
<%= turbo_stream.replace dom_id(@submission, "interactions") do %>
  <%= render "submissions/interaction_buttons", submission: @submission %>
<% end %>

<%# Append flash message %>
<% if notice %>
  <%= turbo_stream.append "flash-messages" do %>
    <div class="alert alert-info alert-dismissible fade show m-1" role="alert" data-controller="flash" data-flash-auto-dismiss-value="<%= flash_auto_dismiss_time %>">
      <span class="alert-message"><%= notice %></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("navigation.close") %>"></button>
    </div>
  <% end %>
<% end %>

<% if alert %>
  <%= turbo_stream.append "flash-messages" do %>
    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert" data-controller="flash" data-flash-auto-dismiss-value="<%= flash_auto_dismiss_time %>">
      <span class="alert-message"><%= alert %></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="<%= t("navigation.close") %>"></button>
    </div>
  <% end %>
<% end %>

