<div class="account-section h-100 d-flex flex-column" id="password-section">
  <h3 class="h5 mb-3 ps-1"><%= t("account_settings.password.title") %></h3>
  <div class="card h-100 d-flex flex-column">
    <div class="card-body d-flex flex-column flex-grow-1">
      <%= form_with model: user, url: update_password_account_settings_path, method: :patch, data: { turbo: true }, local: false, html: { class: "d-flex flex-column flex-grow-1" } do |f| %>
        <div class="flex-grow-1">
          <div class="mb-3">
            <%= f.label :password, t("forms.password"), class: "form-label" %>
        <%= f.password_field :password, id: "password-update-new-password", class: "form-control #{'is-invalid' if user.errors[:password].any?}", autocomplete: "new-password" %>
            <% if user.errors[:password].any? %>
              <div class="invalid-feedback">
                <% user.errors[:password].each do |error| %>
                  <div><%= error %></div>
                <% end %>
              </div>
            <% end %>
            <div class="form-text"><%= t("account_settings.password.hint") %></div>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, t("forms.password_confirmation"), class: "form-label" %>
        <%= f.password_field :password_confirmation, id: "password-update-confirmation", class: "form-control #{'is-invalid' if user.errors[:password_confirmation].any?}", autocomplete: "new-password" %>
            <% if user.errors[:password_confirmation].any? %>
              <div class="invalid-feedback">
                <% user.errors[:password_confirmation].each do |error| %>
                  <div><%= error %></div>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="mb-3">
            <%= f.label :current_password, t("account_settings.password.current_password"), class: "form-label" %>
        <%= f.password_field :current_password, id: "password-update-current-password", class: "form-control #{'is-invalid' if user.errors[:current_password].any?}", autocomplete: "current-password", required: true %>
            <% if user.errors[:current_password].any? %>
              <div class="invalid-feedback">
                <% user.errors[:current_password].each do |error| %>
                  <div><%= error %></div>
                <% end %>
              </div>
            <% end %>
            <div class="form-text"><%= t("account_settings.password.current_password_hint") %></div>
          </div>
        </div>

        <div class="form-actions mt-auto">
          <%= f.submit t("account_settings.password.update"), class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

