<%# Hide navbar items on Devise views (sign in, sign up, password reset, etc.) %>
<% unless devise_controller? %>
  <% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to t("navigation.submissions"), submissions_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.new_submission"), new_submission_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.tools"), tools_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.tags"), tags_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.profile"), profile_path(current_user.username),
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.dashboard"), dashboard_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.account"), account_settings_path,
        class: "nav-link",
        data: { turbo_prefetch: false } %>
  </li>
  <li class="nav-item">
    <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false }, local: true, class: "d-inline" do |f| %>
      <%= f.submit t("navigation.logout"), class: "btn btn-link nav-link text-decoration-none border-0 bg-transparent p-0 shadow-none" %>
    <% end %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to t("navigation.login"), new_user_session_path,
        class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t("navigation.sign_up"), new_user_registration_path,
        class: "nav-link" %>
  </li>
  <% end %>
<% end %>