<% if user_signed_in? %>
<li class="nav-item">
  <%= link_to "Home", root_path,
      class: "nav-link",
      data: { turbo_prefetch: false } %>
</li>
<li class="nav-item">
  <%= link_to "Tools", tools_path,
      class: "nav-link",
      data: { turbo_prefetch: false } %>
</li>
<li class="nav-item">
  <%= link_to "New Tool", new_tool_path,
      class: "nav-link",
      data: { turbo_prefetch: false } %>
</li>
<li class="nav-item">
  <%= link_to "Profile", profile_path,
      class: "nav-link",
      data: { turbo_prefetch: false } %>
</li>
<li class="nav-item">
  <%= link_to "Sign out", destroy_user_session_path,
      class: "nav-link",
      data: { turbo_method: :delete } %>
</li>
<% else %>
<li class="nav-item">
  <%= link_to "Sign in", new_user_session_path,
      class: "nav-link" %>
</li>
<% end %>