<%= simple_form_for(@submission) do |f| %>
  <div class="row g-3">
    <div class="col-12">
      <%= f.input :submission_url, label: t("submissions.form.submission_url"), required: true,
                  hint: t("submissions.form.submission_url_hint") %>
    </div>

    <div class="col-12">
      <%= f.input :author_note, as: :text, label: t("submissions.form.author_note"),
                  input_html: { rows: 3 },
                  hint: t("submissions.form.author_note_hint") %>
    </div>

    <%# Tool selection hidden - will be auto-linked during processing pipeline %>
    <%# TODO: Re-enable manual tool linking in future if needed %>
    <%= f.hidden_field :tool_id, value: @submission.tool_id %>
  </div>

  <div class="mt-4 d-flex gap-2">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to t("actions.cancel"), submissions_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

