<%= simple_form_for(@tag) do |f| %>
  <%= f.error_notification %>

  <div class="row g-3">
    <div class="col-12">
      <%= f.input :tag_name, required: true, label: t("tags.form.tag_name") %>
    </div>

    <div class="col-12">
      <%= f.input :tag_description, as: :text, label: t("tags.form.tag_description"), input_html: { rows: 3 } %>
    </div>

    <div class="col-md-6">
      <%= f.input :tag_type,
                  collection: Tag.tag_types.keys.map { |t| [t("tags.tag_types.#{t}"), t] },
                  include_blank: false,
                  label: t("tags.form.tag_type") %>
    </div>

    <div class="col-md-6">
      <%= f.input :parent_id,
                  collection: (@tag.persisted? ? Tag.where.not(id: @tag.id) : Tag.all).order(tag_type: :asc, tag_name: :asc).map { |t| [t.display_name, t.id] },
                  include_blank: t("tags.form.no_parent"),
                  label: t("tags.form.parent") %>
    </div>
  </div>

  <div class="mt-4 d-flex gap-2">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to t("actions.cancel"), tags_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

